# assign1 .gitignore 
# mchang & jzelenski tweaked Feb 2017
# jcain further tweaks April 2018

# don't track these build products, anchored to top-level dir
/*.d
/*.o
/*.a
tpadvtest.cc

# explicitly name project executables here, anchored to top-level dir
aggregate
tptest
tpcustomtest
tpadvtest
